# online payment fraud detection ANN

In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [4]:
data=pd.read_csv("fraud.csv")

In [5]:
data

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [6]:
data=data.replace(to_replace =["PAYMENT", "CASH_OUT", "PAYMENT", "CASH_IN", "TRANSFER", "DEBIT"],value =[0,1,2,3,4,5])

In [7]:
x=data.copy()
x=x.drop("nameOrig", axis=1)
x=x.drop("nameDest", axis=1)
x=x.drop("isFlaggedFraud", axis=1)
x=x.drop("isFraud", axis=1)
x

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest
0,1,2,9839.64,170136.00,160296.36,0.00,0.00
1,1,2,1864.28,21249.00,19384.72,0.00,0.00
2,1,4,181.00,181.00,0.00,0.00,0.00
3,1,1,181.00,181.00,0.00,21182.00,0.00
4,1,2,11668.14,41554.00,29885.86,0.00,0.00
...,...,...,...,...,...,...,...
6362615,743,1,339682.13,339682.13,0.00,0.00,339682.13
6362616,743,4,6311409.28,6311409.28,0.00,0.00,0.00
6362617,743,1,6311409.28,6311409.28,0.00,68488.84,6379898.11
6362618,743,4,850002.52,850002.52,0.00,0.00,0.00
6362619,743,1,850002.52,850002.52,0.00,6510099.11,7360101.63

In [8]:
x=x.values
y=data.iloc[:,-2].values

In [9]:
#eğitim ve test verisi diye böldük
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=22)

In [10]:
#veri standartlaştırma
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain=sc.fit_transform(xtrain)
xtest=sc.transform(xtest)

In [11]:
#yapay sinir ağı modeli kullanacağımızı belirliyoruz
ann=tf.keras.models.Sequential()
#2 gizli katman 1 giriş 1 çıkış katmanı var

In [12]:
ann.add(tf.keras.layers.Dense(units=4,activation="relu", input_dim=7))

In [13]:
ann.add(tf.keras.layers.Dense(units=4,activation="relu"))

In [14]:
ann.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

In [15]:
#binary = sonucun 0 ya da 1 olmasını sağlıyor. accuracy is doğruluk değerini hesaplar.
# Bir çok optimize yöntemi var. Adam seçildi. optimizerlar Sinapsipler üzerindeki değerlerin nasıl optimize edileceğini belirliyor.
ann.compile(optimizer="adam",loss="binary_crossentropy",metrics=["accuracy"])

In [16]:
#veri setini fit ediyoruz. epochs öğrenme işini yapar. x'ten y'yi öğren
ann.fit(xtrain,ytrain,epochs=10)

Epoch 1/10
159066/159066 [==============================] - 114s 711us/step - loss: 0.0058 - accuracy: 0.9991
Epoch 2/10
159066/159066 [==============================] - 114s 716us/step - loss: 0.0036 - accuracy: 0.9994
Epoch 3/10
159066/159066 [==============================] - 117s 734us/step - loss: 0.0033 - accuracy: 0.9994
Epoch 4/10
159066/159066 [==============================] - 129s 809us/step - loss: 0.0032 - accuracy: 0.9994
Epoch 5/10
159066/159066 [==============================] - 118s 745us/step - loss: 0.0031 - accuracy: 0.9994
Epoch 6/10
159066/159066 [==============================] - 115s 721us/step - loss: 0.0032 - accuracy: 0.9995
Epoch 7/10
159066/159066 [==============================] - 115s 725us/step - loss: 0.0031 - accuracy: 0.9995
Epoch 8/10
159066/159066 [==============================] - 115s 725us/step - loss: 0.0031 - accuracy: 0.9995
Epoch 9/10
159066/159066 [==============================] - 115s 723us/step - loss: 0.0032 - accuracy: 0.9995
Epoch 10/10
159066/159066 [==============================] - 115s 724us/step - loss: 0.0033 - accuracy: 0.9995

In [17]:
ypred=ann.predict(xtest)

In [18]:
#0.5 üzerinde doğru bildiklerini ata
ypred=(ypred>0.5)

In [19]:
#Doğruluk testi dolandırıcılık olmayanlardan 1270867 tanesini doğru, 10 tanesini yanlış bilmiş.
#Dolandırıcılık olanlardna 1001 tanesini doğru 642 tanesini yanlış bilmiş.
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(ytest,ypred)
cm

array([[1270849,      32],
       [    641,    1002]], dtype=int64)

In [20]:
#test verilerini ve çıkan sonuçları karşılaştırıyoruz.
accuracy_score(ytest,ypred)

0.9994711298175909

In [23]:
input_data=(1,1,1000,120.00,188.00,0.00,1.00)
input_data_as_numpy_array=np.asarray(input_data)
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
prediction=ann.predict(input_data_reshaped)
print(prediction)

[[0.]]